@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@500&display=swap');

.App-header {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  height: 80px;
  justify-content: flex-start;
  padding: 10px;
  box-sizing: border-box;
  z-index: 2;
  position: fixed;
  top: 0;
  width: 100%;
}

.App-logo {
  max-height: 50px;
  margin-right: 10px;
}

.App-name {
  font-size: 2.4rem;
  font-family: 'Advent Pro', sans-serif;
}