.App {
  background: url('./logo.png') fixed center no-repeat;
  text-align: center;
}

.App-main {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - 80px);
  overflow: scroll;
  width: 100%;
}

.button {
  font-size: 1rem;
  margin: 10px;
  padding: 10px;
  background-color: rgb(211, 211, 211);
}

button:hover {
    box-shadow: 0px 0px 2px gray;
    cursor: pointer;
}

button:active {
  opacity: 0.75;
  position: relative;
  top: 1px;
}

.four-oh-four {
  margin-bottom: 20px;
}

.four-oh-four span {
  font-weight: bold;
}

a {
  color: #952B3D;
}

a:hover {
  color: rgb(204, 227, 231);
}

li {
  line-height: 1.6rem;
}

.user-presentation {
  background-color: rgba(128, 128, 128, 0.5);
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  max-width: 500px;
  padding: 20px 10px;
  text-align: start;
  width: 100%;
  z-index: 0;
}

@media screen and (max-width: 600px) {
  .App-main {
    justify-content: start;
  }
}